<h2>To Do</h2>
<ul class="list">
  <li [ngClass]="list.doneStyle" *ngFor="let list of List" (click)="onSelect(list)">
      <div>
          Id : {{list.id}} Nom : {{list.name}} <input type="checkbox" (click)="doneOrNot(list)" [checked]="list.done ">
      </div>
  </li>
</ul>

<div *ngIf="selectedItem">
    <h2>Détails de {{selectedItem.name}}</h2>
    <div>Id: {{selectedItem.id}}</div>
    <div>
        <label>Nom:
            <input [(ngModel)]="selectedItem.name" placeholder="nom">
        </label>
    </div>
    <div>
        Fait ? {{selectedItem.done?'Oui':'Non'}}
    </div>
</div>